@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======= RESET ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======= BODY ======= */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #333;
  overflow-x: hidden;
  min-height: 100vh;
}