@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======= RESET ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======= BODY ======= */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #333;
  overflow-x: hidden;
  min-height: 100vh;
}

/* ======= HEADER =======  */
.header-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative; /* Necesario para posicionar el ::after */
  padding: 5px 0;
  transition: color 0.3s;
  font-size: 14px;
}

.header-link:hover {
  color: red;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%; /* Inicialmente oculta */
  height: 2px;
  background-color: red; /* El color rojo de la línea */
  transition: width 0.3s ease-in-out;
}

.header-link:hover::after {
  width: 100%; /* Expande al 100% al hacer hover */
}

/* ======= CAROUSEL =======  */
.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 0;
  background-color: red;
  z-index: -1;
  transition: width 0.8s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.btn span {
  position: relative;
  z-index: 2;
}

.carousel-btn.active,
.carousel-btn:hover {
  background-color: rgb(194, 2, 2);
}

/* ======= VER MAS ======= */
.boton-verMas {
  position: relative; 
  z-index: 1; 
  overflow: hidden;
  color: black;
  transition: color 0.5s ease-in-out;
}

.boton-verMas::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4%; 
  width: 0;
  background-color: red;
  z-index: 9999; 
  
  transition: width 0.5s ease-in-out;
}

.boton-verMas:hover::before {
  width: 100%;
}

.boton-verMas:hover {
  color: white; 
}